[alias]

  a = add --all
  st = status
  br = branch
  sh = stash
  shp = stash pop
  shd = stash drop
  c = commit
  cm = commit -m
  ca = commit -a
  cam = commit -am
  cd = commit --amend
  cad = commit -a --amend
  # diff of last 2 commits
  ch = diff HEAD^ HEAD
  d = difftool
  dc = difftool --cached
  f = fetch
  g = grep -p
  ig = update-index --assume-unchanged
  uig = update-index --no-assume-unchanged
  co = checkout
  com = checkout master
  cod = checkout development
  ps = push
  psf = push -f
  pso = push origin
  psfo = push -f origin
  psom = push origin master
  psfom = push -f origin master
  pl = pull
  plr = pull --rebase
  rb = rebase
  rbc = rebase --continue
  rbd = rebase development
  rbi = rebase -i
  rbm = rebase master
  rbs = rebase --skip
  reh = reset --hard
  tgs = show-ref --abbrev=7 --tags
  unstage = reset HEAD --
  last = log -1 --pretty=format:\"%h %an, %ar : %s\" HEAD
  llog = log -20 --decorate --pretty=format:\"%h %an, %ar : %s\" HEAD

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  # Find commits by commit message

  fm = "!f() { \
    git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; \
  }; f"

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  # Find commits by source code

  fc = "!f() { \
    git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; \
  }; f"

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  # List remote branches.

  lrb = "!f() { \
      remote="${1:-origin}"; \
      git ls-remote --heads "$remote"; \
  }; f"

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[color "branch"]

  current = green bold
  local = green
  remote = yellow

[color "diff"]

  frag = magenta
  meta = yellow
  new = green
  old = red

[color "status"]

  added = green reverse
  changed = yellow reverse
  untracked = red reverse

[pretty]

    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │             └─ author name
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)

[user]

  name = Michelle D Zhang
  email = zhang.michelle.d@gmail.com

[commit]

	gpgsign = true

[gpg]

	program = gpg

[core]

  editor = vim
  excludesfile = ~/.ignore

[pull]

  rebase = true

[rebase]

  instructionFormat = "[%an] %s"

[push]

  default = current

[diff]

  tool = icdiff

[difftool]

  prompt = false

[merge]

  tool = vimdiff

[difftool "sourcetree"]

  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[difftool "icdiff"]
    cmd = icdiff $LOCAL $REMOTE

[mergetool "sourcetree"]

  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[include]

  # Load local configs.
  # https://git-scm.com/docs/git-config#_includes
  #
  # [!] The following needs to remain at the end of this file in
  #   order to allow any of the above configs to be overwritten
  #   by the local ones

  path = ~/.gitconfig.local

[icdiff]
	options = --highlight --line-numbers
