[submodule "configs/vim/bundle/Vundle.vim"]
    path = configs/vim/bundle/Vundle.vim
    url = https://github.com/VundleVim/Vundle.vim.git
[submodule "configs/zsh/prezto"]
	path = configs/zsh/prezto
	url = git@github.com:sorin-ionescu/prezto.git
[submodule "configs/bash/bash-it"]
	path = configs/bash/bash-it
	url = git@github.com:Bash-it/bash-it.git
[submodule "configs/mutt/bundles/mutt-colors-solarized"]
	path = configs/mutt/bundles/mutt-colors-solarized
	url = git@github.com:altercation/mutt-colors-solarized.git
