[submodule "vim/.vim/bundle/opt/Vundle.vim"]
	path = vim/.vim/bundle/opt/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "zsh/.config/zsh/opt/prezto"]
	path = zsh/.config/zsh/opt/prezto
	url = git@github.com:mdzhang/prezto.git
[submodule "bash/.config/bash/opt/bash-it"]
	path = bash/.config/bash/opt/bash-it
	url = git@github.com:Bash-it/bash-it.git
[submodule "mutt/.config/mutt/opt/mutt-colors-solarized"]
	path = mutt/.config/mutt/opt/mutt-colors-solarized
	url = git@github.com:altercation/mutt-colors-solarized.git
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
