/*
!.gitignore
!README.md
!bash
!duti
!editorconfig
!git
!homebrew
!irssi
!lynx
!mackup
!macos
!mutt
!newsboat
!nvim
!pet
!pg
!postfix
!prettier
!python
!rcm
!readline
!ruby
!sh
!term
!tmuz
!urlview
!vim
!zsh
