{
  "parser": "babel-eslint",
  "extends": ["plugin:react/recommended", "airbnb", "plugin:storybook/recommended"],
  "plugins": ["react", "unused-imports"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es2021": true
  },
  "globals": {},
  "rules": {
    "no-underscore-dangle": 0,
    "array-element-newline": [
      2,
      { "multiline": true }
    ]
  },
  "settings": {
    "jest": {
      "version": 26
    }
  }
}
