.config/fish/conf.d/*
!.config/fish/conf.d/omf.fish

.config/fish/functions/*
!.config/fish/functions/fisher.fish

.config/fish/fishd.*

.config/fish/completions/*
!.config/fish/completions/fisher.fish

