[[snippets]]
  description = "Restart video utilities on OS X (for when camera is on but video is black)"
  command = "sudo killall VDCAssistant && sudo killall AppleCameraAssistant"
  output = ""

[[snippets]]
  description = "Finding the pid listening on a specific port on Mac OS"
  command = "lsof -n -i4TCP:8000 | grep LISTEN"
  output = ""

[[snippets]]
  description = "Delete all git branches with 'feature' in the name"
  command = "g br -D $(g br | grep feature | tr -d '\\n' | sed  's/\\n//g')"
  output = ""

[[snippets]]
  description = "Select line 736 from file out.log"
  command = "sed '736q;d' out.log"
  output = ""

[[snippets]]
  description = "Replace with capture group"
  command = "sed -r 's/^Reading line (.+)$/\\1/g'"
  output = ""

[[snippets]]
  description = "Example xidel xpath selector"
  command = "xidel --html --data index.html --xpath '//div[not(contains(@class, \"announcement\"))]/ul[@class=\"topiclist topics\"]/li[contains(@class, \"row\")]' --output-format=adhoc"
  output = ""

[[snippets]]
  description = "Example pup css selection"
  command = "cat index.html| pup 'ul.topiclist.topics > li.row > dl > dt > div.list-inner > a.topictitle text{}'"
  output = ""

[[snippets]]
  description = "jq - timestamp example"
  command = "grep $(date '+%F') foo.log | grep '\\\"_cmd\\\": \\\"tylenol\\\"' | grep '\\\"msg\\\": \\\"run' | jq '{timestamp: (.timestamp[:19] | strptime(\"%Y-%M-%dT%H:%M:%S\") | mktime), msg}' | jq -s '(.[1].timestamp - .[0].timestamp) / 60'"
  output = ""

[[snippets]]
  description = "jq - group/select example"
  command = "grep $(date '+%F') foo.log | grep '\\\"_cmd\\\": \\\"tylenol\\\"' | grep \"owner.statistics\" | jq -c '{owner_name, hits: .stats.relevant_hits}' | jq -c 'select(.hits > 0)' | sort | jq -c ."
  output = ""

[[snippets]]
  description = "pretty print csv"
  command = "mlr --icsv --opprint cat nyc-east-river-bicycle-counts.csv"
  output = ""

[[snippets]]
  description = "Check battery (Linux)"
  command = "upower -i /org/freedesktop/UPower/devices/battery_BAT0"
  output = ""

[[snippets]]
  description = "See routing table (linux)"
  command = "ip route list | column -t"
  output = ""

[[snippets]]
  description = "Print PATH entries on different lines"
  command = "echo $PATH |  tr ':' '\\n'"
  output = ""

[[snippets]]
  description = "Remove ._ prefix from files with zmv"
  command = "zmv '._(*)' '$1'"
  output = ""

[[snippets]]
  description = "Delete all helm deployments"
  command = "helm ls | tail -n+2 | awk '{print $1}' | xargs helm delete"
  output = ""
